
body {
	margin: 0; 
	background-color: #eaeaea;
}

.nav {          
	width: 100%;   /* оформлення флекс контейнера для шапки сайту*/
	height: 50px;


	background: #e6e5e5;
	display: flex;  
	justify-content: space-around;
	flex-flow: row wrap;

	  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
}


.order {                     /* оформнення навігаційної панелі */
	list-style: none;
	display: flex;
	font-size: 20px;
	flex-flow: row wrap;
	margin-left: 20px;
}

li {
	padding: 5px;
	align-items: flex-end;
}

.order a {
	text-decoration: none;
	color: black;
}

.order a:hover {
	color: white;
}

.logo {					/* логотип */
	width: 220px;
	position: relative;
	top: 20px;
}

.background {				/* чорний фон для тексту і зображення */
	background-color: #292525;
	width: 100%;
	height: 270px;
}

.content1 {				/* контейнер для тексту і зображення */ 
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.text-container {
	width: 300px;
	color: white;
	margin: 60px 0 0 20px;
	text-align: justify;
	font-size: 17px;
	float: left;
}

.text-container p {
	margin: 0 0 30px 0;

}

button {
	width: 90px;
	height: 35px;
	background-color: #787677;
	float: left;
	margin: 0 0 0 26px;
	border-radius: 4px;
	outline: none;
}

.img1 {
	width: 350px;
	float: right;
	margin: 60px 20px 0 0;
}

.content2 {				/* контейнер для тексту по центру */
	width: 900px;
	height: 100px;
	margin-left: auto;	
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
}
.content2 p {
	margin-top: 7px;
	margin-bottom: 7px;

}

.row {
	background-color: grey;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
}

.header1 {
	width: 100px;
	height: 15px;
}

.first {
	width: 500px;
}

.second {
	width: 700px;
}

.third {
	width: 300px;
}

hr {
	width: 700px;
}

footer {				/* контейнер для слайдера */
	width: 100%;
	height: 300px;	
}

.content3 {
	width: 900px;
	height: 300px;
	margin: 20px auto;
	text-align: center;
}

.arrow {
	width: 30px;
	height: 30px;
	margin-top: 85px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden_container {
	width: 520px;
	height: 180px;
	margin: auto;
	overflow: hidden;

}

.slider {
	width: inherit;
	height: inherit;
	margin: auto;
	position: relative;
    transition: 1s;
}

.img{
	width:120px;
	height: 120px;
	margin: 30px 5px;
	float: left;
}

.img p {
	text-align: center;
}

.check {
	width: 900px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.checkButton {
	margin-left: 415px;
}

#left_btn:checked ~ .hidden_container .slider {
	transform: translate(-125px);
	transition-duration: 2s;
}

 #right_btn:checked  ~ .hidden_container .slider {
	transform: translate(125px);
	transition-duration: 2s;
}

 #mid_btb:checked  ~ .hidden_container .slider {
	transform: translate(0);
	transition-duration: 2s;
}

@media screen and (max-width: 600px) {
	/* меню */
	.nav {
		min-width: 350px;
	}

	.nav ul {
		width: 100px;
		padding: 5px 0;
		position: relative;
		top: 0;
		left: 0;
	}

	.nav ul:hover li {
		display: inline-block;
		margin: 0 0 0px;
		padding-right: 10px;
		width: 60px;

	}

	.nav li {
		padding: 0;
		display: none;
	}

	.nav a {
		background: #999;
		color: #fff;
		display: block;
		width: 100px;
		text-align: center;
	}

	.nav a:hover {
		color: #000;
	}

	.nav .current {
		display: block;
	}
	
	.background {
		width: 100%;
		height: auto;
		min-width: 310px;
	}

	.content1 {				/* контейнер для тексту і зображення */ 
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	}

	.text-container {
	width: 300px;
	color: white;
	margin: 30px auto;
	font-size: 17px;
	}

	.text-container p {
		margin: 0 0 30px 0;
		text-align: center;

	}

	button {
		width: 90px;
		height: 35px;
		background-color: #787677;
		float: left;
		margin: 0 30px 0;
		border-radius: 4px;
		outline: none;
	}

	.img1 {
		width: 300px;
		margin: 10px auto;
	}

	.content2 {				/* контейнер для тексту по центру */
	width: 350px;
	height: 100px;
	margin-left: auto;	
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	}

	.content2 p {
		margin-top: 7px;
		margin-bottom: 7px;
	}

	.row {
		background-color: grey;
		height: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.header1 {
		width: 100px;
		height: 15px;
	}

	.first {
		width: 200px;
	}

	.second {
		width: 250px;
	}

	.third {
		width: 180px;
	}

	hr {
		width: 700px;
	}

	footer {				/* footer */
		width: 100%;
		height: auto;	
	}

	.content3 {
		width: 350px;
		height: auto;
		margin: 20px auto;
	}

	.arrow {
		width: 30px;
		height: 30px;
		margin-top: 85px;
		display: none
	}

	.left {
		float: left;
		display: none;
	}

	.right {
		float: right;
		display: none;
	}

	.hidden_container {
		width: inherit;
		height: inherit;
		overflow: hidden;

	}

	.slider {
		width: inherit;
		height: inherit;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.img{
		width: 300px;
		height: auto;
	}

	.img p {
		text-align: center;
	}

	.check {
		display: none
	}

	.checkButton {
		display: none;
	}

	#left_btn:checked  ~ .hidden_container .slider {
		transform: translate(0px);
		transition-duration: 2s;
	}
	#left_btn:checked ~ .hidden_container .slider .img{
		width: 100px;
		transition-duration: 2s;
	}

	#mid_btn:checked ~ .hidden_container .slider .img{
		width: 150px;
		transition-duration: 2s;
	}

	 #mid_btb:checked  ~ .hidden_container .slider {
		transform: translate(0);
		transition-duration: 2s;
	}

	#right_btn:checked  ~ .hidden_container .slider {
		transform: translate(0px);
		transition-duration: 2s;
	}
	#right_btn:checked ~ .hidden_container .slider .img{
		width: 300px;
		transition-duration: 2s;
	}
} 

